
<div *ngIf="wiadomosci">
    <h2><span>Wiadomosci</span> {{wiadomosci.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Odkiedy</span></dt>
        <dd>
            <span>{{wiadomosci.odkiedy}}</span>
        </dd>
        <dt><span>Dokiedy</span></dt>
        <dd>
            <span>{{wiadomosci.dokiedy}}</span>
        </dd>
        <dt><span>Tresc</span></dt>
        <dd>
            <span>{{wiadomosci.tresc}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wiadomosci/'+ wiadomosci.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
