<div>
    <h2>
        <span>Uczen</span>
        <button class="btn btn-primary float-right jh-create-entity create-uczen" [routerLink]="['/', { outlets: { popup: ['uczen-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Uczen
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="uczens">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Imie</span></th>
            <th><span>Nazwisko</span></th>
            <th><span>Klasa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let uczen of uczens ;trackBy: trackId">
                <td><a [routerLink]="['../uczen', uczen.id ]">{{uczen.id}}</a></td>
                <td>{{uczen.imie}}</td>
                <td>{{uczen.nazwisko}}</td>
                <td>{{uczen.klasa}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../uczen', uczen.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uczen/'+ uczen.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uczen/'+ uczen.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
