
<div *ngIf="uczen">
    <h2><span>Uczen</span> {{uczen.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Imie</span></dt>
        <dd>
            <span>{{uczen.imie}}</span>
        </dd>
        <dt><span>Nazwisko</span></dt>
        <dd>
            <span>{{uczen.nazwisko}}</span>
        </dd>
        <dt><span>Klasa</span></dt>
        <dd>
            <span>{{uczen.klasa}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'uczen/'+ uczen.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
