
<div *ngIf="nauczyciele">
    <h2><span>Nauczyciele</span> {{nauczyciele.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Imie</span></dt>
        <dd>
            <span>{{nauczyciele.imie}}</span>
        </dd>
        <dt><span>Nazwisko</span></dt>
        <dd>
            <span>{{nauczyciele.nazwisko}}</span>
        </dd>
        <dt><span>Pesel</span></dt>
        <dd>
            <span>{{nauczyciele.pesel}}</span>
        </dd>
        <dt><span>Telefon</span></dt>
        <dd>
            <span>{{nauczyciele.telefon}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'nauczyciele/'+ nauczyciele.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
