<div>
    <h2>
        <span>Klasa</span>
        <button class="btn btn-primary float-right jh-create-entity create-klasa" [routerLink]="['/', { outlets: { popup: ['klasa-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Klasa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="klasas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nazwa</span></th>
            <th><span>Srednia</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let klasa of klasas ;trackBy: trackId">
                <td><a [routerLink]="['../klasa', klasa.id ]">{{klasa.id}}</a></td>
                <td>{{klasa.nazwa}}</td>
                <td>{{klasa.srednia}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../klasa', klasa.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'klasa/'+ klasa.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'klasa/'+ klasa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
